doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    header 小秘书
    block content
    footer &copy;2017-2020
