<!-- 用户列表 -->
<div layout="column" flex id="content">
    <div class="container">
        <div>
            <ul class="nav nav-tabs">
                <li ng-class="{active:isActive('all')}">
                    <a href="/#/member">全部</a>
                </li>
                <li ng-class="{active:isActive('black')}">
                    <a href="/#/member/list/black">黑名单</a>
                </li>
                <li ng-class="{active:isActive('white')}">
                    <a href="/#/member/list/white">白名单</a>
                </li>
                <li ng-class="{active:isActive('pma')}">
                    <a href="/#/member/list/pma">PMA</a>
                </li>
                <li ng-class="{active:isActive('founder')}">
                    <a href="/#/member/list/founder">发起人</a>
                </li>
                <li ng-class="{active:isActive('admin')}">
                    <a href="/#/member/list/admin">管理员</a>
                </li>
                <li ng-class="{active:isActive('delete')}">
                    <a href="/#/member/list/delete">已删除</a>
                </li>
                <li ng-class="{active:isActive('appeal')}">
                    <a href="/#/member/list/appeal">申诉用户 <span style="color:red;font-size:20px;margin-top:1px;">{{countAppealnum}}</span></a>
                </li>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="search" placeholder="用户名">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="searchUser()">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索
                    </button>
                </form>
            </ul>
        </div>
    </div>
    <div class="activityList container">
        <md-list>
            <md-list-item ng-repeat="user in userList">
                <div class="panel panel-default" style="width:100%;">
                    <div class="panel-body row">
                        <div class="media col-md-8">
                            ID: {{user.id}}
                            <a class="pull-left">
                                <img width="40" height="40" style="border-radius:20px" class="media-object avatarSize" ng-src="{{user.profile.headimgurl}}">
                            </a>
                            <span><strong>{{user.username}}</strong></span>
                            <span ng-show="user.profile.birth_year>0"> {{ (today | date:'yyyy') - user.profile.birth_year }}岁 </span>
                            <span ng-show="user.profile.sex==1">男</span>
                            <span ng-show="user.profile.sex==2">女</span> &nbsp;&nbsp; {{user.profile.occupation}} &nbsp;&nbsp; {{user.wechat_id}} &nbsp;&nbsp; {{user.mobile}}
                        </div>
                        <div class="col-md-4">
                            <span ng-if="user.last_login_at">
            上次登录：{{user.last_login_at*1000|date:'yyyy年MM月dd日'}}
          </span>
                            <button class="btn btn-info pull-right" type="button" ng-click="viewUser(user)">
                                用户详情
                            </button>
                        </div>
                    </div>
                </div>
            </md-list-item>
        </md-list>
            <div ng-show="modelPagination" class="someet-pagination user-pagination">
        <uib-pagination total-items="modelPagination.totalItems" ng-model="modelPagination.currentPage" ng-change="pageChange()" items-per-page="modelPagination.itemsPerPage" max-size="modelPagination.maxSize" class="pagination-sm" boundary-links="false" previous-text="上一页" next-text="下一页" first-text="第一页"
        last-text="最后一页" rotate="false">
        </uib-pagination>
    </div>
    </div>
</div>
