<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="vue.js"></script>
  <style media="screen">
    .divider{
      list-style: none;
      border-top: 1px dashed #e4e4e4;
      margin:15px 0;
    }
  </style>
</head>
<body>
<ul id="example-1">
<li v-for="item in items">
  {{ item.message }}
</li>
</ul>

<ul id="example-2">
  <li v-for="(item, index) in items">
    {{ parentMessage }} - {{ index }} - {{ item.message }}
  </li>
</ul>

<div id="example-3">
  <div v-for="item of items">item of {{ item.message }}</div>
</div>

<ul id="example-4">
  <template v-for="item in items">
    <li>{{ item.msg }}</li>
    <li class="divider"></li>
  </template>
</ul>

<ul id="repeat-object" class="demo">
  <li v-for="value in object">
    {{ value }}
  </li>

  <div v-for="(value, key) in object">
  {{ key }} : {{ value }}
  </div>
  <div v-for="(value, key, index) in object">
    {{ index }}. {{ key }} : {{ value }}
  </div>

  <div>
  <span v-for="n in 10">{{ n }}</span>
  </div>

</ul>

<script>
var example1 = new Vue({
  el: '#example-1',
  data: {
    items: [
      {message: 'Foo' },
      {message: 'Bar' }
    ]
  }
})

var example2 = new Vue({
  el: '#example-2',
  data: {
    parentMessage: 'Parent',
    items: [
      { message: 'Foo' },
      { message: 'Bar' }
    ]
  }
})

var example3 = new Vue({
  el: '#example-3',
  data: {
    items: [
      { message: 'Foo' },
      { message: 'Bar' }
    ]
  }
})

var example4 = new Vue({
  el: '#example-4',
  data: {
    items: [
      { msg: 'Foo' },
      { msg: 'Bar' }
    ]
  }
})

new Vue({
  el: '#repeat-object',
  data: {
    object: {
      FirstName: 'John',
      LastName: 'Doe',
      Age: 30
    }
  }
})
</script>
</body>
</html>
