<!-- 暂未使用 增加问题表单 -->
<div layout="column" flex id="content">
  <input type="hidden" ng-model="activityid" />
  <md-input-container>
    <label>标题</label>
    <input type="text" ng-model="title"></md-input-container>
  <md-input-container>
    <label>描述</label>
    <input type="text" ng-model="desc"></md-input-container>
  <md-input-container>
    <label>问题1</label>
    <input type="text" ng-model="q1"></md-input-container>
  <md-input-container>
    <label>问题2</label>
    <input type="text" ng-model="q2"></md-input-container>
  <md-input-container>
    <label>问题3</label>
    <input type="text" ng-model="q3"></md-input-container>
  <md-input-container layout="row">
    <md-button class="md-raised md-primary" ng-click="save()">添加</md-button>
    <md-button class="md-raised md-warn" ng-click="cancel()">取消</md-button>
  </md-input-container>
</div>