body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
header, footer{
  height:50px;
  text-align:center;
  line-height: 50px;
}
header{
  border:1px solid skyblue;
}
footer{
  border-top:1px dashed #EEE;
  padding-top:10px;
  margin-top:10px;
}
a {
  color: #00B7FF;
}
