<style type="text/css">
    table tr th{
        width: 20rem;
        text-align: center;
        height: 2rem;
        background-color: #B3B3B3;
    }
    table td {
        height: 1.5rem;
    }
    table{
        text-align: center;
    }

</style>
<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#/playground/index">活动</a></li>
    <li role="presentation"><a href="#/playground/test-tube">试管</a></li>
    <li role="presentation"><a href="#/playground/over-view">总览</a></li>
</ul>
<div ng-cloak>
  <table border=1 style="text-align: center;">
    <tr>
        <th>种类</th>
        <th>操作</th>
    </tr>
    <tr>
        <td>愿望试管</td>
        <td><a href="#/playground/view/1">筛选</a></td>
    </tr>
    <tr>
        <td>组队试管</td>
        <td><a href="#/playground/view/3">筛选</a></td>
    </tr>
    <tr>
        <td>树洞试管</td>
        <td><a href="#/playground/view/4">筛选</a></td>
    </tr>
    <tr>
        <td>一日情侣</td>
        <td><a href="#/playground/view/5">筛选</a></td>
    </tr>
  </table>
</div>
