<!-- 暂未使用 活动标签 -->
<div layout="column" flex id="content">
  <md-button class="activity-dialog-btn md-fab" ng-click="createPage()" aria-label="add activity tag">
    <i class="fa fa-plus"></i>
  </md-button>
  <md-list style="width: 400px;">
    <md-list-item>
      <p flex="10"> ID </p>
      <p> 类型 </p>
      <p> 频率 </p>
      <p> 排序 </p>
      <p> 操作 </p>
    </md-list-item>
    <md-list-item ng-repeat="entity in list ">
      <p flex="10"> {{entity.id}} </p>
      <p> {{entity.name}} </p>
      <p> {{entity.frequency}} </p>
      <p> {{entity.status}} </p>
      <p layout="row">
        <md-button class="md-raised" ng-click="update(entity)">修改</md-button>
        <md-button class="md-raised md-warn" ng-click="delete(entity)">删除</md-button>
      </p>
    </md-list-item>
  </md-list>
</div>

