<!-- 暂未使用 活动类型 -->
<div layout="column" flex id="content">
  <md-button class="activity-dialog-btn md-fab" ng-click="createPage()" aria-label="add activity type">
    <i class="fa fa-plus"></i>
  </md-button>
  <md-list style="width: 400px;">
    <md-list-item>
      <p flex="10"> ID </p>
      <p> 名称 </p>
      <p> Icon </p>
      <p> 排序 </p>
      <p> 操作 </p>
    </md-list-item>
    <md-list-item ng-repeat="entity in list | orderBy: 'display_order'">
      <p flex="10"> {{entity.id}} </p>
      <p> {{entity.name}} </p>
      <p> {{entity.icon}} </p>
      <p> {{entity.display_order}} </p>
      <p layout="row">
        <md-button class="md-raised" ng-click="update(entity)">修改</md-button>
      </p>
    </md-list-item>
  </md-list>
</div>
