<div layout="column" flex id="content">
  <form name="entityForm" ng-submit="save()" novalidate>
    <input type="hidden" ng-model="spot_id" />
    <md-input-container>
      <label>区间名称</label>
      <input type="text" ng-model="entity.name" required ng-minlength="2" ng-maxlength="10">
    </md-input-container>
    <md-input-container>
      <label>推荐人数</label>
      <input type="number" ng-model="entity.people" />
    </md-input-container>
    <md-radio-group ng-model="entity.status" >
      当前状态
      <md-radio-button ng-repeat="mode in availableDirections" ng-value="mode">
        <span ng-if="mode == 10"> 显示</span>
        <span ng-if="mode == 0"> 删除</span>
      </md-radio-button>
    </md-radio-group>

    <div layout="row">
      <md-button class="md-raised md-primary" ng-disabled="entityForm.$invalid">保存</md-button>
      <md-button class="md-raised md-warn" ng-click="cancel()">取消</md-button>
    </div>
  </form>
</div>
