
.banner{
	height: 567px;
	position: relative;
	overflow: hidden;
}
.banner img{
	position: absolute;
	left: 50%;
	margin-left: -960px;
}
.banner .circles{
	position: absolute;
	width: 94px;
	height: 12px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -47px;
}
.banner .circles ol{
	list-style: none;
}
.banner .circles ol li{
	float: left;
	width: 12px;
	height: 12px;
	margin-right: 15px;
	background: url(../images/icons.png) no-repeat -100px -35px;
	/*鼠标碰上去是小手*/
	cursor: pointer;
}
.banner .circles ol li.cur{
	background-position: -112px -35px;
}
.product{
	padding-top: 50px;
	height: 229px;
	border-bottom: 1px solid #DBE1E7;
	position: relative;
}
.product ul{
	list-style: none;
}
.product ul li{
	float: left;
	width: 218px;
	margin-right: 43px;
}
.product ul li.last{
	width: 217px;
}
.product ul li a{
	display: block;
	padding-bottom: 20px;
	text-decoration: none;
	/*CSS3的过渡属性：*/
	transition:all 1s ease 0s;
}
.product ul li a span.c{
	color:#444866;
	line-height: 40px;
	display: block;
	text-align: center;
	font-weight: bold;
}
.product ul li a span.e{
	text-align: center;
	display: block;
	color:#38B774;
	font-size: 12px;
}
.product ul li a span.e b{
	padding-right: 12px;
	background: url(../images/arrow.png) no-repeat right center;
}
.product ul li a:hover{
	background-color: #38B774;
}
.product ul li a:hover span.c ,.product ul li a:hover span.e{
	color:white;
}
.product ul li a:hover span.e b{
	background-image: url(../images/arrow2.png);
}
.product .circles{
	position: absolute;
	width: 117px;
	height: 12px;
	left: 50%;
	margin-left: -59px;
	bottom:-6px;
	background: white;
}
.product .circles ol{
	list-style: none;
	padding-left: 17px;
}
.product .circles ol li{
	float: left;
	width: 12px;
	height: 12px;
	background: url(../images/icons.png) no-repeat -100px -47px;
	margin-right: 14px;
	/*小手*/
	cursor: pointer;
}
.product .circles ol li.cur{
	background-position: -112px -47px;
}
.information{
	width: 100%;
	padding-top: 53px;
	height: 367px;
	background:url(../images/mountain.jpg) no-repeat center bottom;
}
.information .news{
	float: left;
	width: 500px;
	position: relative;
}

.information .news .hd{
	height: 120px;
	background:url(../images/news_hd.jpg) no-repeat;
}
.information .news .hd h3{
	height: 0;
	overflow: hidden;
}
.information .more{
	position: absolute;
	width: 64px;
	height: 26px;
	border: 1px solid #33B972;
	top: 39px;
	left: 218px;
	text-align: center;
	border-radius:4px;
	color:#30BD72;
	text-decoration: none;
	font-size: 12px;
}
.information .more sup{
	position: relative;
	left: -2px;
	top: -2px;
}
.information .more:hover{
	background: #30BD72;
	color:white;
}
.information .news ul{
	padding: 0 20px;
	list-style: none;
}
.information .news ul li{
	line-height: 50px;
	border-bottom: 1px solid #DBE1E7;
}
.information .news ul li.first{
	height: 38px;
	line-height: 36px;
}
.information .news ul li span.date{
	margin-right: 21px;
	color:#333;
	font-size: 12px;
}
.information .news ul li a{
	color:#444866;
	text-decoration: none;
}
.information .news ul li a:hover{
	color:#33B972;
}
.information .jobs{
	float: left;
	width: 500px;
	height: 310px;
	position: relative;
	background: url(../images/jobs_bg.jpg);
}
.information .jobs h3{
	padding-top: 44px;
	padding-left: 80px;
}
.information .jobs h3 .c{
	display: block;
	font-size: 28px;
	line-height: 28px;
	color:white;
}
.information .jobs h3 .e{
	display: block;
	font-size: 12px;
	color:white;
	font-weight: normal;
	line-height: 22px;
}
.information .jobs .more{
	border-color:white;
	color:white;
}
.information .jobs .more:hover{
	background-color: white;
	color:#30BD72;
}
.information .jobs .bd{
	padding: 17px 175px 0 20px;
}
.information .jobs .bd h4{
	line-height: 22px;
	font-size: 14px;
	font-weight: bold;
	color:white;
}
.information .jobs .bd ul{
	list-style: none;
	line-height: 37px;
}
.information .jobs .bd ul li{
	border-bottom: 1px solid #6FDEA3;
}
.information .jobs .bd ul li a{
	color:white;
	text-decoration: none;
}