<!DOCTYPE html>
<html ng-app="todoList">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-controller="TaskCtrl">
    <div>
      <input type="text" ng-model="task">
      <button type="button" ng-click="addTask()">提交</button>
    </div>
    <h4>任务列表</h4>
    <ul>
      <li ng-repeat="item in tasks track by $index">
        {{item}} <a ng-click="delTask($index)">删除</a>
      </li>
    </ul>
  </body>
  <script src="./js/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">
    angular.module("todoList", [])
    .controller('TaskCtrl', function($scope){
      $scope.task = "";
      $scope.tasks = [];
      $scope.addTask = function(){
        $scope.tasks.push($scope.task);
        $scope.task = "";
      };
      $scope.delTask = function(index){
        $scope.tasks.splice(index,1);
      }
    })
  </script>
</html>
